body{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: 400px 400px 400px 400px 400px;
    grid-template-rows: 300px 400px 400px 400px 400px;
    grid-template-areas:"area1 area1 area1 area1 area1"
                        "area2 area3 area3 area4 area5"
                        "area6 area6 area7 area7 area8"
                        "area9 area9 area9 area9 area9";
}

.encabezado{
    background-color: rgb(102, 102, 107);
    display: flex;

    grid-area: area1;
    
}
#logo{
    width: 15%;
    height: 100%;
    border: 1px solid rgba(27, 26, 26, 0.76);
}
#busqueda{
    height: 10%;
    margin-top: 50px;
    margin-left: 20px;
}
#tituloHeader{
    text-align: center;
    margin-left: 10%;
    margin-top: 50px;
    color: rgb(250, 250, 77);
}
#imgCarrito{
    height: 30%;
    width: 20%;
    margin-left: 70%;
    padding: 0;
}

#Yo_Galgo{
    grid-area: area7;
}

#Nosotros_G{
    grid-area: area6;
    color: rgb(198, 155, 211);
    font-size: 30px;
    margin: 20px;
}
    
#TXT_NT{
    grid-area: area2;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: lightblue;
}

#Fotot_NT{
    grid-area: area3;
}




nav{
    height: 55%;
}





.menu{
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 40%;
    margin-right: 0%;

    grid-area: area2;
}
#menu1{
    list-style: none;
    font-size: 100%;
    align-items: center;

}
#menu01{
    background-image: linear-gradient(rgb(117, 115, 115), red);
    height: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    margin-left: 0;
    padding-left: 60px;
}
#menu01:hover{
    width: 100px;
    height: 80px;
    transition: height 5s width 5s;
}





.img1{
    height: 100%;
    width: 100%;

grid-area: area3;
}




.encabezado2{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    height: 650px;
    
    grid-area: area4;
}
#infoNosotros{
    font-size: 20px;
    margin: 0;
    padding: 0;
}
#infoNosotros1{
    margin-right: 20%;
    padding: 0;
    color: rgb(242, 248, 159);
    font-size: 30px;
    text-align: center;
}
#infoNosotros2{
    text-align: center;
    margin: 0;
    margin-right: 20%;
    padding: 0;
    margin-top: 100px;
    color: rgb(144, 153, 66);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    line-height: 2.0;
}
#imgImport{
    margin: 0;
    padding: 0;
    width: max-content;
    height: 600px;
}





.final{
    margin-top: 30%;
    background-color: rgb(43, 29, 29);
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    grid-area: area9;
}
#envio{
    text-align: center;
    width: 30%;
    color: rgb(248, 138, 98);
}
#prevencion{
    text-align: center;
    width: 40%;
    color: rgb(248, 138, 98);
    font-size: 30px;
}
#prevencion1{
    width: 80px;
    height: 80px;
    background-color: rgb(235, 112, 112);
    animation-name: colores;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes colores{
    25%{
        transform: rotate(45deg);
    }

}
#redes{
    text-align: center;
    width: 15%;
    color: rgb(248, 138, 98);
    font-size: 20px;
    font-family: fantasy;
}






.tablaCarrito{
    background-color: rgb(226, 226, 226);
    width: 100%;
    border: 3px solid rgb(163, 172, 87);
    text-align: right;
    margin: 0 0 1em 0;
    caption-side: top;
    
    grid-area: area3;
}
caption, td, th {
    padding: 0.3em;
}
th, td {
    border-bottom: 1px solid #999;
    width: 25%;
}
caption {
    font-weight: bold;
    font-style: italic;
}
#tabla1{
    margin: 0;
    padding: 80px;
    text-align: center;
}
#linea{
    color: wheat;
    background-color: rgb(117, 52, 52);
}
#finalizar{
    color: wheat;
    background-color: rgb(117, 52, 52);
    margin: 0;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}





.gptc{
    margin-top: 40%;
    padding: 0;
    color: rgb(226, 226, 108);
    text-align: center;
    
    grid-area: area4;
}
#lmcarrito{
    width: 350px;
    height: 700px;

    grid-area: area2;
}




.adopta{
    padding-top: 50px;
    color: tomato;
    text-align: center;
    font-size: 50px;

    grid-area: area3;
}
.transito{
    grid-area: area2;
}
.formulario{
    color: wheat;
    background-color: rgb(119, 58, 47);
    height: 150%;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding-top: 100px;

    grid-area: area4;
}





.galgoTienda{
    margin: 0;
    padding: 0;
    color: sandybrown;

    grid-area: area2;
}
.filtro{
    width: 300px;
    height: 400px;
    background-color: sandybrown;
    margin-top: 60%;
    padding: 0;
    text-align: center;

    grid-area: area2;
}
#fuente{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.fotosTienda{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px;

    grid-area: area3;
}
#grupoFotos{
    background-color: sienna;
    width: 30px;
    height: 30px;

}